In [1]:
import numpy as np
import pandas as pd
#======TA==============
from ta.momentum import *
from ta.trend import *
from ta.volatility import *
from ta.wrapper import *
import ta
#======================

In [2]:
df = pd.DataFrame(np.array([100, 120, 100, 90, 95, 110,120]))

In [3]:
df

     0
0  100
1  120
2  100
3   90
4   95
5  110
6  120

In [5]:
# TSI Indicator
df["momentum_tsi"] = TSIIndicator(
    close=df[0], window_slow=25, window_fast=13, fillna=True
).tsi()/100 #scale 0-1

In [6]:
df

     0  momentum_tsi
0  100      0.000000
1  120      1.000000
2  100      0.978022
3   90      0.949608
4   95      0.926856
5  110      0.909011
6  120      0.895010

manually for tsi

In [7]:
df['diff_close'] = df[0]-df[0].shift(1)
df

     0  momentum_tsi  diff_close
0  100      0.000000         NaN
1  120      1.000000        20.0
2  100      0.978022       -20.0
3   90      0.949608       -10.0
4   95      0.926856         5.0
5  110      0.909011        15.0
6  120      0.895010        10.0

In [8]:
df[0].shift(1)

0      NaN
1    100.0
2    120.0
3    100.0
4     90.0
5     95.0
6    110.0
Name: 0, dtype: float64

In [ ]:
# window = 30 # a choice
# df[f"roc_{window}"] = ta.momentum.ROCIndicator(close=df["Close"], window=window).roc()
# df[f"roc_{window}"] = ta.momentum.ROCIndicator(close=df["Close"], window=window).roc()

# # Relative Strength Index (RSI)
# df["momentum_rsi"] = RSIIndicator(
#     close=df["Close"], window=14, fillna=True
# ).rsi()/100 #scale 0-1

# # Stoch RSI (StochRSI)
# indicator_srsi = StochRSIIndicator(
#     close=df["Close"], window=14, smooth1=3, smooth2=3, fillna=True
# )
# df["momentum_stoch_rsi"] = indicator_srsi.stochrsi()
# df["momentum_stoch_rsi_k"] = indicator_srsi.stochrsi_k()
# df["momentum_stoch_rsi_d"] = indicator_srsi.stochrsi_d()

# # TSI Indicator
# df["momentum_tsi"] = TSIIndicator(
#     close=df["Close"], window_slow=25, window_fast=13, fillna=True
# ).tsi()/100 #scale 0-1