In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df.head()

    A   B   C   D
0   8  30  26  71
1  66  83  82   9
2  20   7  34  41
3  79  72  58  35
4  55  63  54  57

In [6]:
type(df['A'])

pandas.core.series.Series